@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-stPlQ2E9bp {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stRYdqrwjH {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stRWPEinHh {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stRWPEinHh .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-stRWPEinHh .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-stRWPEinHh .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-stRWPEinHh .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-stRWPEinHh .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-stRWPEinHh .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-stRWPEinHh .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-stS5zpvvXr {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stSPmHqIFP {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stSPmHqIFP .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-stSPmHqIFP .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-stSPmHqIFP .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-stSPmHqIFP .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-stSPmHqIFP .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-stSPmHqIFP .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-stSPmHqIFP .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-stSPmHqIFP .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-stSStaAY30 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stSU62E59g {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stSU62E59g .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-stSU62E59g .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-stSU62E59g .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-stSU62E59g .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-stSU62E59g .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-stSU62E59g .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-stSU62E59g .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-stSX3X6YNM {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stSYfmGYgO {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stSYfmGYgO .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-stSYfmGYgO .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-stSYfmGYgO .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-stSYfmGYgO .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-stSYfmGYgO .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-stSYfmGYgO .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-stSYfmGYgO .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-stRHw2IQ8O {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stT0O7kH0u {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stT0O7kH0u img,
.cid-stT0O7kH0u .item-img {
  width: 100%;
}
.cid-stT0O7kH0u .item:focus,
.cid-stT0O7kH0u span:focus {
  outline: none;
}
.cid-stT0O7kH0u .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-stT0O7kH0u .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-stT0O7kH0u .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-stT0O7kH0u .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-stT0O7kH0u .mbr-section-btn {
  margin-top: auto !important;
}
.cid-stT0O7kH0u .mbr-section-title {
  color: #232323;
}
.cid-stT0O7kH0u .mbr-text,
.cid-stT0O7kH0u .mbr-section-btn {
  text-align: left;
}
.cid-stT0O7kH0u .item-title {
  text-align: left;
}
.cid-stT0O7kH0u .item-subtitle {
  text-align: center;
}
.cid-stT36TW7f6 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stPe43k8aH {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-stPe43k8aH .oldcost {
  text-decoration: line-through;
  color: #353535;
}
.cid-stPe43k8aH .currentcost {
  color: #232323;
}
.cid-stPe43k8aH .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-stPe43k8aH .text-box {
    padding: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-right: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-stPe43k8aH .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-stPe43k8aH .text-box {
    padding: 1rem;
  }
}
.cid-stPe43k8aH .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-stPsaLxcXX {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (min-width: 1500px) {
  .cid-stPsaLxcXX .container {
    max-width: 1400px;
  }
}
.cid-stPsaLxcXX .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-stPsaLxcXX .card-wrapper {
  margin-top: 3rem;
}
.cid-stPsaLxcXX .row {
  justify-content: center;
}
.cid-stPsbaH3D3 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (min-width: 1500px) {
  .cid-stPsbaH3D3 .container {
    max-width: 1400px;
  }
}
.cid-stPsbaH3D3 .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-stPsbaH3D3 .card-wrapper {
  margin-top: 3rem;
}
.cid-stPsbaH3D3 .row {
  justify-content: center;
}
.cid-stPpU7gAVR {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-stPpU7gAVR .top-line {
  display: flex;
  justify-content: space-between;
}
.cid-stPpU7gAVR .mbr-section-title,
.cid-stPpU7gAVR .mbr-section-subtitle {
  text-align: center;
}
.cid-stPpU7gAVR .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-stPpU7gAVR .card-wrapper {
  border-radius: 4px;
  background-color: #ffffff;
}
.cid-stPpU7gAVR .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-stPpU7gAVR .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-stPpU7gAVR .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-stPpU7gAVR .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-stPpU7gAVR .mbr-section-title {
  color: #000000;
}
.cid-stWn58ZHD3 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-stUSgc5xyI {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-stUSCKp6cK {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-stUSCKp6cK .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-stUSCKp6cK .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-stUSCKp6cK .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-stUSCKp6cK .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-stUSCKp6cK .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-stUSCKp6cK .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-stUSCKp6cK .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-stUSCKp6cK .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-stWI89cIbk {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-stPysGN9WE {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-stPysGN9WE .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-stPysGN9WE img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-stPysGN9WE .text-wrapper {
    padding: 2rem;
  }
}
.cid-stWH9Tx7LO {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-stWH9Tx7LO .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-stV76P8HyQ {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-stV76P8HyQ .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-stV76P8HyQ .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-stV76P8HyQ .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-stV76P8HyQ .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-stV76P8HyQ .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-stV76P8HyQ .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-stV76P8HyQ .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-stPwjfVECQ {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stPwjfVECQ .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-stPwjfVECQ .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-stPwjfVECQ .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-stPwjfVECQ .panel-body,
.cid-stPwjfVECQ .card-header {
  padding: 1rem 0;
}
.cid-stPwjfVECQ .panel-title-edit {
  color: #000000;
}
.cid-stVjiFnMsv {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stVjiFnMsv .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #6592e6;
  margin-left: 1rem;
}
.cid-stVjiFnMsv .panel-group {
  border: none;
}
.cid-stVjiFnMsv .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-stVjiFnMsv .panel-body,
.cid-stVjiFnMsv .card-header {
  padding: 1rem 0;
}
.cid-stVjiFnMsv .panel-title-edit {
  color: #000000;
  text-align: center;
}
.cid-stVjiFnMsv .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-s48P1Icc8J {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-s48P1Icc8J .row-links {
  width: 100%;
  justify-content: center;
}
.cid-s48P1Icc8J .social-row {
  width: 100%;
  justify-content: center;
}
.cid-s48P1Icc8J .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-s48P1Icc8J .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-s48P1Icc8J .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-s48P1Icc8J .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-s48P1Icc8J .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-s48P1Icc8J .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-s48P1Icc8J .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-s48P1Icc8J .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-s48P1Icc8J .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s48P1Icc8J .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-s48P1Icc8J .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-s48P1Icc8J .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-s48P1Icc8J .media-container-row .mbr-text {
  text-align: left;
}
.cid-stXWTEG2tN {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stXWTFYYyO {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stXWTHeNNc {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stXWTHeNNc .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-stXWTHeNNc .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-stXWTHeNNc .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-stXWTHeNNc .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-stXWTHeNNc .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-stXWTHeNNc .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-stXWTHeNNc .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-stXWTHZXge {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stXWTJLK9G {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stXWTJLK9G .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-stXWTJLK9G .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-stXWTJLK9G .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-stXWTJLK9G .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-stXWTJLK9G .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-stXWTJLK9G .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-stXWTJLK9G .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-stXWTJLK9G .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-stXWTL6VOO {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stXWTMCblW {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stXWTMCblW .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-stXWTMCblW .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-stXWTMCblW .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-stXWTMCblW .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-stXWTMCblW .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-stXWTMCblW .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-stXWTMCblW .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-stXWTOqjss {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stXWTQnZTk {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stXWTQnZTk .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-stXWTQnZTk .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-stXWTQnZTk .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-stXWTQnZTk .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-stXWTQnZTk .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-stXWTQnZTk .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-stXWTQnZTk .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-stXWTS1MiX {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stXWTUc2dI {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stXWTUc2dI img,
.cid-stXWTUc2dI .item-img {
  width: 100%;
}
.cid-stXWTUc2dI .item:focus,
.cid-stXWTUc2dI span:focus {
  outline: none;
}
.cid-stXWTUc2dI .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-stXWTUc2dI .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-stXWTUc2dI .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-stXWTUc2dI .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-stXWTUc2dI .mbr-section-btn {
  margin-top: auto !important;
}
.cid-stXWTUc2dI .mbr-section-title {
  color: #232323;
}
.cid-stXWTUc2dI .mbr-text,
.cid-stXWTUc2dI .mbr-section-btn {
  text-align: left;
}
.cid-stXWTUc2dI .item-title {
  text-align: left;
}
.cid-stXWTUc2dI .item-subtitle {
  text-align: center;
}
.cid-stXWTVPDMh {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stXWTXph19 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-stXWTXph19 .oldcost {
  text-decoration: line-through;
  color: #353535;
}
.cid-stXWTXph19 .currentcost {
  color: #232323;
}
.cid-stXWTXph19 .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-stXWTXph19 .text-box {
    padding: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-right: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-stXWTXph19 .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-stXWTXph19 .text-box {
    padding: 1rem;
  }
}
.cid-stXWTXph19 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-stXWTYWWSK {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (min-width: 1500px) {
  .cid-stXWTYWWSK .container {
    max-width: 1400px;
  }
}
.cid-stXWTYWWSK .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-stXWTYWWSK .card-wrapper {
  margin-top: 3rem;
}
.cid-stXWTYWWSK .row {
  justify-content: center;
}
.cid-stXWU0Zg8V {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (min-width: 1500px) {
  .cid-stXWU0Zg8V .container {
    max-width: 1400px;
  }
}
.cid-stXWU0Zg8V .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-stXWU0Zg8V .card-wrapper {
  margin-top: 3rem;
}
.cid-stXWU0Zg8V .row {
  justify-content: center;
}
.cid-stXWU2Gwkj {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-stXWU2Gwkj .top-line {
  display: flex;
  justify-content: space-between;
}
.cid-stXWU2Gwkj .mbr-section-title,
.cid-stXWU2Gwkj .mbr-section-subtitle {
  text-align: center;
}
.cid-stXWU2Gwkj .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-stXWU2Gwkj .card-wrapper {
  border-radius: 4px;
  background-color: #ffffff;
}
.cid-stXWU2Gwkj .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-stXWU2Gwkj .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-stXWU2Gwkj .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-stXWU2Gwkj .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-stXWU2Gwkj .mbr-section-title {
  color: #000000;
}
.cid-stXWU44AiC {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-stXWU5g3GX {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-stXWU74L7G {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-stXWU74L7G .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-stXWU74L7G .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-stXWU74L7G .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-stXWU74L7G .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-stXWU74L7G .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-stXWU74L7G .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-stXWU74L7G .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-stXWU74L7G .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-stXWU8fA6U {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-stXWU9yn9Q {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-stXWU9yn9Q .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-stXWU9yn9Q img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-stXWU9yn9Q .text-wrapper {
    padding: 2rem;
  }
}
.cid-stXWUa7FRB {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-stXWUa7FRB .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-stXWUaN1L9 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-stXWUaN1L9 .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-stXWUaN1L9 .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-stXWUaN1L9 .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-stXWUaN1L9 .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-stXWUaN1L9 .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-stXWUaN1L9 .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-stXWUaN1L9 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-stXWUbqynz {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stXWUbqynz .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-stXWUbqynz .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-stXWUbqynz .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-stXWUbqynz .panel-body,
.cid-stXWUbqynz .card-header {
  padding: 1rem 0;
}
.cid-stXWUbqynz .panel-title-edit {
  color: #000000;
}
.cid-stXWUcllDb {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-stXWUcllDb .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #6592e6;
  margin-left: 1rem;
}
.cid-stXWUcllDb .panel-group {
  border: none;
}
.cid-stXWUcllDb .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-stXWUcllDb .panel-body,
.cid-stXWUcllDb .card-header {
  padding: 1rem 0;
}
.cid-stXWUcllDb .panel-title-edit {
  color: #000000;
  text-align: center;
}
.cid-stXWUcllDb .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-stXWUdhk3d {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-stXWUdhk3d .row-links {
  width: 100%;
  justify-content: center;
}
.cid-stXWUdhk3d .social-row {
  width: 100%;
  justify-content: center;
}
.cid-stXWUdhk3d .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-stXWUdhk3d .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-stXWUdhk3d .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-stXWUdhk3d .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-stXWUdhk3d .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-stXWUdhk3d .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-stXWUdhk3d .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-stXWUdhk3d .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-stXWUdhk3d .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-stXWUdhk3d .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-stXWUdhk3d .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-stXWUdhk3d .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-stXWUdhk3d .media-container-row .mbr-text {
  text-align: left;
}
